[submodule "contrib/googletest"]
	path = contrib/googletest
	url = https://github.com/google/googletest.git
[submodule "contrib/boost"]
	path = contrib/boost
	url = https://github.com/boostorg/boost.git
